* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F1F1F1;
}

.navBar{
    padding: 10px;
    margin-top:0;
    width:100%;
    display: flex;
    background: #02224E;
    align-items: center;
    justify-content: space-between;
    
}

.title{
    align-items: center;
    margin-left: 20px;
    color: #ffffff;
}

.highlight{
    color: #BE5715;
}

.nav-links{
    gap: 10px;
}

.transperant-bttn{
    cursor: pointer;
    margin-right: 5px;
    padding: 10px;
    color: #ffffff;
    background: #02224E;
    font-size: 0.8em;
    border: none;
    text-decoration: none;
}
.transperant-bttn:hover{
    color: #02224E;
    border-bottom: 2px solid #ffffff;
    background: #ffffff;
    
}

main {
    padding: 2rem;
}

.orders-section h2 {
    text-align: center;
    font-size: 2rem;
    color: #BE5715;
    margin-bottom: 1rem;
}

.sort-by {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.sort-by button {
    padding: 0.5rem 1rem;
    background-color: #1b1e5c;
    color: #fff;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.order-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}

.order-card {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-card h3 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.order-card p {
    margin: 0.3rem 0;
    color: #666;
}

.footer {
    background-color: #002b54;
    color: white;
    padding: 20px;
    text-align: left;
    position: relative;
    bottom: 0;
    width: 100%;
    height:250px;
    justify-content: center;
}

.footer .links {
    margin-bottom: 10px;
    margin-left: 10%;
}

.footer .links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.footer .links a:hover {
    text-decoration: underline;
}

.footer .copyright {
    margin-left: 10%;
    font-size: 14px;
    color: lightgray;
}

.view-btn {
    margin-left: 91.5%;
    padding: 0.5rem 0.8rem;
    border: 3px solid #02224E;
    background-color: #ffffff;
    font-weight: bold;
    color: #02224E;
    font-size: 0.7rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center;
}

.view-btn:hover {
    color: #ffffff;
    background-color: #02224E;
}

.form-group-row {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.sort-bttn{
    cursor: pointer;
    margin-right: 5px;
    padding: 10px;
    color: #ffffff;
    background: #02224E;
    font-size: 0.8em;
    border: none;
    text-decoration: none;
}