* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background-color: #F1F1F1;
}
.navBar-left{
    height: 10%;
    background-color: rgba(0, 0, 0, 0.5); 
    align-items: center;
    color: #F1F1F1;
    display: flex;
}

.container {
    display:flex;
    height:100vh;
}

.first-half{
    width: 50%; /* 50% of the viewport height */
    background-image: url('./Images/login-page-pic.png');
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Don't repeat the image */
    position : relative;
}

.title{
    color:F1F1F1;
    font-size:xx-large;
    font-weight: 500;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;;
}

.highlight{
    color: #BE5715;
}

.hero-content{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    color: #F1F1F1;
    padding-top:250px;
}

.hero-content h1{
    font-size: 50px;
}

.second-half{
    float: left;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.navBar-right{
    margin-top: 0%;
    height: 10%;
    width: 100%;
    align-items: center;
    display: flex;
    float: right;
}

.navBar-right a {
    padding: 10px;
    font-weight: bold;
    margin-left: 85%;
    color: #02224E;
    text-decoration: none;
    font-size: 1.2em;
}

.navBar-right a:hover {
    background-color:#F1F1F1;
    color:#02224E;
    border: 2px solid #02224E;
}

.transperant-bttn{
    color: #02224E;
}
.transperant-bttn:hover{
    color: #02224E;
    
}



/* .signin{
    margin-right: 5%;
} */
/* .title{
    align-items: center;
    margin-left: 20px;
    margin-right: 85%;
} */

.login-text{
    margin-left: 10%;
}

.login-text a{
  color: #BE5715;
  text-decoration: none;
}
.login-text a:hover{
  text-decoration: underline;
}

.login-form-container {
    margin-top: 25%;
    max-width: 80%;
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }
  .login-form-container h1{
    color: #BE5715;
    font-size: 40px;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    width: 80%;
    margin-bottom: 15px;
  }
  
  
  label {
    margin-left: 20%;
    margin-top: 10px;
    font-size: 18px;
    float:left;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],input[type='password'],
  textarea {
    margin-left: 20%;
    width: 100%;
    padding: 8px;
    color: #000000;
    background-color: #F1F1F1;
    border: 1px solid #000000;
    font-size: 15px;
  }

  textarea {
    resize: vertical;
  }
  
  button[type='submit'] {
    width:20%;
    background-color: #02224E;
    color: #F1F1F1;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 0;
    transition: background-color 0.3s ease;
  }

  
  button[type='submit']:hover {
    background-color:#F1F1F1;
    color:#02224E;
    border: 2px solid #02224E;

  }
